alias procs         'ps -ef | grep -v root'
alias myprocs       'ps -ef | grep ptgd73'

alias ctdiff        'cleartool diff -pred -serial'

alias cdfw          'cd /projects/custom_atd2/fpga_shared/fpga_fw/'
alias cdl1c8b       'cd /projects/custom_atd2/fpga_shared/fpga_fw/ref_designs/l1c8_base'
alias cdl1c8bfw     'cd /projects/custom_atd2/fpga_shared/fpga_fw/ip/l1c8_base_fw'
alias cdl1c8m       'cd /projects/custom_atd2/fpga_shared/fpga_fw/ref_designs/l1c8_mod'
alias cdl1c8mfw     'cd /projects/custom_atd2/fpga_shared/fpga_fw/ip/l1c8_mod_fw'

alias cds5c2bbfw    'cd /projects/custom_atd2/fpga_shared/fpga_fw/ip/s5c2_bb_fw'
alias cds5c2bb      'cd /projects/custom_atd2/fpga_shared/fpga_fw/ref_designs/s5c2_bb'

alias cdlouis       'cd /home/bmr867'
alias cdjon         'cd /home/mvkb46'

alias cdho          'cd /projects/atd_src2/Hawkowl'

alias cdgr          'cd $GIT_ROOT'
alias cdpar         'cd $PROJ_HOME/par/vivado'
alias cdph          'cd $PROJ_HOME'
alias cdsim         'cd $PROJ_HOME/sim'
alias cdsim         'cd $PROJ_HOME/sim'
alias data          'cd /shared/lsfdata/ptgd73'

alias procs         'ps -ef | grep -v root'
alias myprocs       'ps -ef | grep ptgd73'

#------------------------------------------------------------------------
# git
#------------------------------------------------------------------------
alias gs            'git status'
alias gc            'git commit'
alias ga            'git add'
alias gl            'git log --name-status -5'
#--alias precmd 'set prompt = "[%m:${GIT_VIEW_PATH:t}:${PROJ_HOME:t}]%#%# "'

#------------------------------------------------------------------------
# Clearcase aliases
#------------------------------------------------------------------------

alias ct            'cleartool'

alias myviews       'ct lsview | grep ptgd73'

alias dircos        'ct lsco -cview -short -rec .'
alias mycos         'ct lsco -all -cview -short'
alias allmycos      'ct lsco -me -avobs -cview'
alias allviewcos    'ct lsco -avobs -cview'

alias lsco          'ct lsco -cview -avobs -short'

alias vtree         'ct lsvtree -graphical'
alias mypriv        'ct ls -view_only -recurse'

alias prevdiff      'ct diff -gra -pre '

alias sgr           'setenv GIT_ROOT $PWD'
alias sps           'source $GIT_ROOT/ic_designs/s5c2_bb/project_setup.csh'

alias find_updated_files \
  "ct find . -cview -version '\\!lbtype(\!:1)' -print"

alias find_all_updated_files \
  "ct find -all -cview -version '\\!lbtype(\!:1)' -print"

alias find_branch_elements \
  "ct find -avobs -element 'brtype(\!:1)' -print"

alias find_lbtype \
  "ct lstype -kind lbtype | grep \!:1"

#------------------------------------------------------------------------
# Set commands to change title of terminal window to reflect view and
# working directory
#------------------------------------------------------------------------

setenv MY_VIEW_NAME `echo $MY_VIEW | sed -e "s/ptgd73_//"`

if ($?TERM == 1) then
  if ($TERM == xterm && $?CONSOLE_TERM == 0) then
    alias labi  'echo -n "\033]1;\!*\007"'
    alias labw  'echo -n "\033]2;\!*\007"'
    alias precmd 'labw ${MY_VIEW_NAME}@$cwd; labi ${MY_VIEW_NAME}@$cwd'
  endif
endif

alias xexec 'xterm -fg purple -bg black -e \!* &'

setenv P_DRIVE /net/euler/vol/windows/projects/Projects

#-------------------------------------------------------------------
# help with build
#-------------------------------------------------------------------
alias setv 'ct setview ptgd73_panhandler_dev'
alias cdpan 'cd ~/projects/panhandler'
alias cdph  'cd $PROJ_HOME/'
alias cdrwsim 'cd ~/bt_le_zip_extract/rw-dm-hw-v8_0_15/HW/IPs/BTDM/HW/rw_btdm_top/simu'
alias cdbuild 'cd $GIT_ROOT/ic_designs/s5c2_bb/par/vivado/xc7z045'

# build related
alias buildme_s5c2 'runviv ./scripts/s5c2_bb.cfg'
alias buildme_m4   'runviv -clean ../scripts/m4c8.cfg'
alias cdm4c8build 'cd $PROJ_HOME/par/vivado/xc7vx485t/m4c8_no_sata/build/'

